.App{
    padding: 10px;
    margin-bottom: 20px;
}

.MuiInputLabel-outlined:not(.Mui-focused) {
    transform: translate(8px, 9px) scale(1)!important
}

.MuiOutlinedInput-input {
    padding: 8px 9px!important
}

.MuiOutlinedInput-adornedEnd {
    padding-right: 0px!important
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 5px!important
}
