td {
    padding: 20px 10px;
}
.App{
    padding: 10px
}

.MuiInputLabel-outlined:not(.Mui-focused) {
    transform: translate(8px, 9px) scale(1)!important
}

.MuiOutlinedInput-input {
    padding: 8px 9px!important
}

.MuiOutlinedInput-adornedEnd {
    padding-right: 0px!important
}
